language: node_js
sudo: false
node_js:
  - '6'
  - '8'
  - '10'
compiler: clang
install:
  - npm install -g gulp-cli
  - npm install -g bower
  - npm install --info
  - bower install

script:
  - gulp test

after_success:
  - npm install codecov
  - npm run codecov
