language: node_js
sudo: false
node_js:
  - '6'
compiler: clang
install:
  - npm install -g gulp-cli
  - npm install -g bower
  - npm install --info
  - bower install
script:
  - gulp test
  - npm install -g bower
after_success:
  - npm install codecov
  - npm run codecov
addons:
  srcclr: true
